<template>
  <div class="calculator">
    <div class="display">{{current || '0'}}</div>
    <div @click="limpiar" class="btn">C</div>
    <div @click="cambiarSigno" class="btn">+/-</div>
    <div @click="porcentaje" class="btn">%</div>
    <div class="btn"></div>
    
    <div @click="operaciones('7')" class="btn">7</div>
    <div @click="operaciones('8')" class="btn">8</div>
    <div @click="operaciones('9')" class="btn">9</div>
    <div @click="divide" class="btn operador">/</div>
   
    <div @click="operaciones('4')" class="btn">4</div>
    <div @click="operaciones('5')" class="btn">5</div>
    <div @click="operaciones('6')" class="btn">6</div>
     <div @click="times" class="btn operador">*</div>
    
    <div @click="operaciones('1')" class="btn">1</div>
    <div @click="operaciones('2')" class="btn">2</div>
    <div @click="operaciones('3')" class="btn">3</div>
    <div @click="minus" class="btn operador">-</div>

    <div @click="operaciones('0')" class="btn ">0</div>
    <div @click="equal" class="btn igual operador">=</div>
        <div @click="add" class="btn operador">+</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      previous: null,
      current: '',
      operador: null,
      operadorClicked: false,
    }
  },
  methods: {
    limpiar() {
      this.current = '';
    },
    cambiarSigno() {
      this.current = this.current.charAt(0) === '-' ? 
        this.current.slice(1) : `-${this.current}`;
    },
    porcentaje() {
      this.current = `${parseFloat(this.current) / 100}`;
    },
    operaciones(number) {
      if (this.operadorClicked) {
        this.current = '';
        this.operadorClicked = false;
      }
      this.current = `${this.current}${number}`;
    },
    dot() {
      if (this.current.indexOf('.') === -1) {
        this.operaciones('.');
      }
    },
    setPrevious() {
      this.previous = this.current;
      this.operadorClicked = true;
    },
    divide() {
      
      this.operador = (a, b) => a / b;
      this.setPrevious();
    },
    times() {
      this.operador = (a, b) => a * b;
      this.setPrevious();
    },
    minus() {
      this.operador = (a, b) => a - b;
      this.setPrevious();
    },
    add() {
      this.operador = (a, b) => a + b;
      this.setPrevious();
    },
    equal() {
      this.current = `${this.operador(
        parseFloat(this.current), 
        parseFloat(this.previous)
      )}`;
      this.previous = null;
    }
  }
}
</script>

<style scoped>
.calculator {
  margin: 0 auto;
  width: 400px;
  font-size: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

.display {
  grid-column: 1 / 5;
  background-color: #333;
  color: white;
}

.igual{
  grid-column: 2/4
}

.btn {
  background-color: #F2F2F2;
  border: 1px solid #999;
}

.operador {
  background-color: orange;
  color: white;
}
</style>
